.campaigns_bg {
    height: max-content;
    background-color: #FFFFFF50;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding-top: 9rem;
    padding-bottom: 3rem;
    color: black;
    justify-content: center;
    font-size: larger;
}