.dashboard_bg {
    height: max-content;
    background-image: 
        linear-gradient(to left, #000000, #00000000),
        url('/images/natalie-kovach-ph7QQq63lCs-unsplash.webp');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
}