.active {
    color: white;
}

.active_icon {
    color: #72b578 !important;
}

.sidebar_items {
    color: gray;
    font-size: large;

    p {
        margin-left: 1em;
        cursor: pointer;
    }

    :not(:last-child) {
        margin-bottom: 1.5em;
    }
}

.sidebar_items:hover {
    p {
        color: #FFFFFF90;
    }

    svg {
        color: #72b57895;
    }
}