.leftnav_cont {
    background-image: 
        linear-gradient(to top, rgba(2, 15, 4, 0.7), rgba(0, 0, 0, 0.7)),
        url('/images/natalie-kovach-ph7QQq63lCs-unsplash.webp');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
}

.logolink {
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    box-shadow: none !important;
}