.log_in {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
  margin: 10px 0;
  font-size: var(--size-6);
  font-weight: bold;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    font-size: var(--size-5);
  }
}

.subtitle {
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    font-size: var(--size-3);
  }
}