.login_signup_bg {
    height: max-content;
    background-image: 
        linear-gradient(to right, #000000, #00000000),
        url('/images/natalie-kovach-ph7QQq63lCs-unsplash.webp');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding-top: 9rem;
    padding-bottom: 3rem;
}

.login_signup_container {
    width: 75%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding: 60px;
    background-color: white;
    border-radius: 20px;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        flex-direction: column;
        width: 88%;
        margin: 0 auto;
        padding: 40px;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        flex-direction: column;
        width: 88%;
        margin: 0 auto;
        padding: 40px;
    }

    @media only screen and (min-width: 768px) and (max-width: 992px) {
        flex-direction: column;
        width: 88%;
        margin: 0 auto;
        padding: 40px;
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        width: 88%;
        margin: 0 auto;
    }
}