/*  SCROLL BACK BUTTON  */
.scroll {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--color-grey-50); 
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%; 
    width: 3rem;
    height: 3rem;
    text-align: center;
    box-shadow: .2rem .2rem 0.5rem rgba(0, 0, 0, 0.35);
    transition: background-color .2s, transform .2s;
}
  
.scroll:hover {
    background-color: #fbfbfb;
    transform: translateY(-.15rem);
}

.iconscroll {
    height: 2rem;
    width: 2rem;
    color: rgba(0, 0, 0, 0.85)
}