.verify_logo {
    display: inline-flex !important;
    color: green;
    margin-left: 8px;
    height: 18px;
}

.verify_logo {
    display: inline-flex !important;
    color: red;
    margin-left: 8px;
    height: 18px;
}