.about {
    padding: 60px 100px;
    display: flex;
    align-items: center;
    background-color: white;
}

.about_logo {
    margin-right: 100px;
}

.about_h_large {
    line-height: 1.5;
    margin-bottom: 20px;
}

.about_text {
    line-height: 2;
}