.card {
    background-color: white;
    display: flex;
    border-radius: 15px;
    padding: 15px;
    height: 230px;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3);

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        height: max-content;
    }
}

.card_title {
    font-size: large;
    margin-bottom: 15px;
    font-weight: bold;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
    }
}

.card_img {
    border-radius: 15px;
    overflow: hidden;
    width: 180px;
    min-width: 180px;
    height: 200px;
    position: relative;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        width: 100px;
        min-width: 100px;
        height: 150px;
    }
}

.card_text {
    margin: 15px 25px;
    // overflow: hidden;
    // text-overflow: ellipsis;
}

.card_desc {
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        font-size: 0.65rem;
        -webkit-line-clamp: 4;
    }
}
