.campaigns_bg {
    height: max-content;
    min-height: 400px;
    background-color: #FFFFFF50;
    background-image: 
        linear-gradient(to right, #000000, #00000050, #000000),
        url('/images/jan-kopriva-OHo8ST9kugw-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 6rem 3rem;
    color: black;
    justify-content: flex-start;
    font-size: larger;
}

.section_title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.campaign_grid {
    display: grid;
    grid-gap: 2rem;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        grid-template-columns: auto;
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        grid-template-columns: auto auto;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        grid-template-columns: auto auto auto;
    }

    /* Large screen and TV */
    @media only screen and (min-width : 1800px) {
        grid-template-columns: auto auto auto auto;
    }
}