.hero {
    height: 100vh;
    min-height: 700px;
    background-image: 
        linear-gradient(to right, #000000, #00000000),
        url('/images/diana-macesanu-hphxtt_aUUw-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.header_btm {
    height: 95%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_heading {
    color: #5EDA78;
    font-size: 4.5rem;
    line-height: 5.5rem;
    margin: 10px 0;
}

.header_sub { 
    color: white;
    font-size: 2rem; 
    line-height: 3rem; 
    margin: 10px 0;
}